.sidebar__container {
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    position: sticky;
    top: 3.5rem;
    left: 0;
    flex:1;
}

::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-track {
    background-color: var(--mainGrey);
}

::-webkit-scrollbar-thumb {
    background-color: var(--darkGrey);
}

.sidebar__wrapper {
    padding:  3rem 2rem;
}
